@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700);
/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
/*adding less styles to boilerplate css*/
.boxShadow {
  -webkit-box-shadow: 0 5px 10px #aaa;
  -moz-box-shadow: 0 5px 10px #aaa;
  box-shadow: 0 5px 10px #aaa;
}
/*mixin to take care of any transition props*/
/*parameters: all .5s ease*/
/*=======================================*/
html {
  color: #00203d;
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== 
   NOTE: used initializr boilerplate html5 as starting point to build on*/
body {
  font: 16px/26px;
  font-family: 'Open Sans', sans-serif;
}
.wrapper {
  width: 90%;
  margin: 0 5%;
}
/* ===================
    header, footer, and aside color
   =================== */
.header-container {
  border-bottom: 10px solid #ce4a27;
  -webkit-animation: bottomBorderAnimate 5s infinite alternate;
  -moz-animation: bottomBorderAnimate 5s infinite alternate;
  -o-animation: bottomBorderAnimate 5s infinite alternate;
  animation: bottomBorderAnimate 5s infinite alternate;
}
.footer-container {
  border-top: 10px solid #ce4a27;
  overflow: auto;
  -webkit-animation: topBorderAnimate 5s infinite alternate;
  -moz-animation: topBorderAnimate 5s infinite alternate;
  -o-animation: topBorderAnimate 5s infinite alternate;
  animation: topBorderAnimate 5s infinite alternate;
}
.header-container,
.footer-container {
  background: #002d56;
}
.main aside {
  background: #ce4a27;
}
.title {
  color: white;
}
/* ==============
    MOBILE: Menu
   ============== */
.title {
  text-align: center;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
nav a {
  display: block;
  margin-bottom: 10px;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  -webkit-transition: background-color 0.75s ease;
  -moz-transition: background-color 0.75s ease;
  -o-transition: background-color 0.75s ease;
  transition: background-color 0.75s ease;
  color: white;
  background: #002d56;
}
nav a:hover {
  color: white;
  background-color: #00203d;
}
nav a:visited {
  text-decoration: none;
}
/* ==============
    MOBILE: Main
   ============== */
.main {
  padding: 30px 0;
}
.main article h1 {
  font-size: 2em;
}
.main aside {
  color: white;
  padding: 10px 5% 10px;
}
.footer-container footer {
  color: white;
  padding: 0px 0;
}
/* ===============
    ALL: IE Fixes
   =============== */
.ie7 .title {
  padding-top: 20px;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
h1 {
  font-weight: 600;
}
h2 {
  color: #003a70;
  font-weight: 600;
}
h3 {
  color: #004889;
  font-weight: 600;
}
/*articles====================*/
article header a {
  text-decoration: none;
  color: #ce4a27;
}
article header a:hover {
  color: #dd6a4b;
}
/*aside styles====================*/
aside h3,
#bottomFooter h3 {
  color: white;
}
#MorayLogo {
  display: block;
  margin: 0px auto 0px auto;
  max-width: 90%;
  -webkit-transform: scale(0.98);
  -moz-transform: scale(0.98);
  -ms-transform: scale(0.98);
  -o-transform: scale(0.98);
  transform: scale(0.98);
}
aside img {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#MorayLogo:hover {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
aside {
  -webkit-transition: background-color 0.75s ease;
  -moz-transition: background-color 0.75s ease;
  -o-transition: background-color 0.75s ease;
  transition: background-color 0.75s ease;
}
aside:hover {
  background-color: #b94223;
}
/*footer styles====================*/
div#bottomFooter div.leftCol {
  text-align: center;
  margin: 0 auto 0 auto;
}
div#bottomFooter div.rightCol {
  text-align: center;
  margin: 0 auto 0 auto;
}
#bottomFooter div.rightCol a {
  color: white;
  text-decoration: none;
}
#bottomFooter div.rightCol a:hover {
  color: #dd6a4b;
}
#bottomFooter p {
  margin-bottom: .75em;
  margin-top: .75em;
  color: white;
}
#bottomFooter small {
  font-style: italic;
}
/*animated border test*/
@-webkit-keyframes bottomBorderAnimate {
  0% {
    border-bottom: 10px solid #ce4a27;
  }
  25% {
    border-bottom: 10px solid #FF2D00;
  }
  50% {
    border-bottom: 10px solid #FF0512;
  }
  75% {
    border-bottom: 10px solid #FF6204;
  }
  100% {
    border-bottom: 10px solid #EB9500;
  }
}
@-moz-keyframes bottomBorderAnimate {
  0% {
    border-bottom: 10px solid #ce4a27;
  }
  25% {
    border-bottom: 10px solid #FF2D00;
  }
  50% {
    border-bottom: 10px solid #FF0512;
  }
  75% {
    border-bottom: 10px solid #FF6204;
  }
  100% {
    border-bottom: 10px solid #EB9500;
  }
}
@-o-keyframes bottomBorderAnimate {
  0% {
    border-bottom: 10px solid #ce4a27;
  }
  25% {
    border-bottom: 10px solid #FF2D00;
  }
  50% {
    border-bottom: 10px solid #FF0512;
  }
  75% {
    border-bottom: 10px solid #FF6204;
  }
  100% {
    border-bottom: 10px solid #EB9500;
  }
}
@keyframes bottomBorderAnimate {
  0% {
    border-bottom: 10px solid #ce4a27;
  }
  25% {
    border-bottom: 10px solid #FF2D00;
  }
  50% {
    border-bottom: 10px solid #FF0512;
  }
  75% {
    border-bottom: 10px solid #FF6204;
  }
  100% {
    border-bottom: 10px solid #EB9500;
  }
}
/*top*/
@-webkit-keyframes topBorderAnimate {
  0% {
    border-top: 10px solid #ce4a27;
  }
  25% {
    border-top: 10px solid #FF2D00;
  }
  50% {
    border-top: 10px solid #FF0512;
  }
  75% {
    border-top: 10px solid #FF6204;
  }
  100% {
    border-top: 10px solid #EB9500;
  }
}
@-moz-keyframes topBorderAnimate {
  0% {
    border-bottom: 10px solid #ce4a27;
  }
  25% {
    border-bottom: 10px solid #FF2D00;
  }
  50% {
    border-bottom: 10px solid #FF0512;
  }
  75% {
    border-bottom: 10px solid #FF6204;
  }
  100% {
    border-bottom: 10px solid #EB9500;
  }
}
@-o-keyframes topBorderAnimate {
  0% {
    border-top: 10px solid #ce4a27;
  }
  25% {
    border-top: 10px solid #FF2D00;
  }
  50% {
    border-top: 10px solid #FF0512;
  }
  75% {
    border-top: 10px solid #FF6204;
  }
  100% {
    border-top: 10px solid #EB9500;
  }
}
@keyframes topBorderAnimate {
  0% {
    border-top: 10px solid #ce4a27;
  }
  25% {
    border-top: 10px solid #FF2D00;
  }
  50% {
    border-top: 10px solid #FF0512;
  }
  75% {
    border-top: 10px solid #FF6204;
  }
  100% {
    border-top: 10px solid #EB9500;
  }
}
/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 480px) {
  /* ====================
    INTERMEDIATE: Menu
   ==================== */
  nav a {
    float: left;
    width: 27%;
    margin: 0 1.7%;
    padding: 32px 2%;
    margin-bottom: 0;
  }
  nav li:first-child a {
    margin-left: 0;
  }
  nav li:last-child a {
    margin-right: 0;
  }
  /* ========================
    INTERMEDIATE: IE Fixes
   ======================== */
  nav ul li {
    display: inline;
  }
  .oldie nav a {
    margin: 0 0.7%;
  }
}
@media only screen and (min-width: 768px) {
  /* ====================
    WIDE: CSS3 Effects
   ==================== */
  .header-container,
  .main aside {
    -webkit-box-shadow: 0 5px 10px #aaa;
    -moz-box-shadow: 0 5px 10px #aaa;
    box-shadow: 0 5px 10px #aaa;
  }
  /* ============
    WIDE: Menu
   ============ */
  .title {
    float: left;
  }
  nav {
    float: right;
    width: 38%;
  }
  /* ============
    WIDE: Main
   ============ */
  .main article {
    float: left;
    width: 57%;
  }
  .main aside {
    float: right;
    width: 28%;
  }
  /* ============
    WIDE: Footer
   ============ */
  div#bottomFooter div.leftCol {
    float: left;
    text-align: left;
  }
  div#bottomFooter div.rightCol {
    float: right;
    text-align: right;
  }
  #bottomFooter div.rightCol a {
    color: white;
    text-decoration: none;
  }
  #bottomFooter div.rightCol a:hover {
    color: #dd6a4b;
  }
  #bottomFooter p {
    margin-bottom: .75em;
    margin-top: .75em;
    color: white;
  }
  #bottomFooter small {
    font-style: italic;
  }
}
@media only screen and (min-width: 1140px) {
  /* ===============
    Maximal Width
   =============== */
  .wrapper {
    width: 1026px;
    /* 1140px - 10% for margins */
    margin: 0 auto;
  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
